$background-color-fh: #000080;
$mobile-menu-border: 1px solid rgba(192, 192, 192, 0.8);
$font-color-fh: white;
$font-color-bd: black;
$hover-bg: #ddd;
$f-shadow: 0px 4px 4px #00000040;
$f-border-c: rgba(29, 97, 228, 1);
$f-label-c: rgba(0, 0, 0, 1);
$f-primary-c: rgba(20, 20, 225, 1);
$f-input-c: rgba(0, 0, 0, 1);
$f-tab-c: gray;
$background-color-sb: #e7e7e7;
$hover-sb: #5659ed;
$nav-height: 2.625rem;
$footer-height: 2.625rem;

// dashboard
$primary-color: #007bff;
$primary-dark: #0056b3;
$background-color: #f0f0f0;
$border-color: #ccc;
$border-radius: 5px;
$padding-desktop: 2rem;
$padding-mobile: 1rem 0.25rem;
$padding-small: 1rem;
$dashboard-width: 80%;
$option-color: #6f88a3;
$transition_time: 2s;
$padding-option-desktop: 1rem 1rem;
