@import 'variables';

@mixin mobile-menu-font {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: white;
}

body {
  padding: 0;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}
nav {
  .nav-row {
    display: flex;
    width: 100%;
    height: $nav-height;
    gap: 0.3125rem;
    flex-shrink: 0;
    justify-content: space-between;
    background: $background-color-fh;
    color: $font-color-fh;
  }
  .nav-frame {
    display: flex;
    width: 55px;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    align-self: stretch;
  }
  .left {
    display: flex;
    align-items: flex-start;
  }
  .mobile-nav {
    display: flex;
    align-items: flex-end;
    display: none;
  }
  .desktop-nav {
    display: flex;
    align-items: flex-start;
    ul {
      list-style-type: none;
      margin: 0;
      display: flex;
      flex-direction: row; /* Add this line to display the li elements as a row */
      gap: 1rem;
      padding-right: 1rem;
      li {
        display: flex;
        align-items: center;
        white-space: nowrap;
      }
    }
  }
}
.nav-img {
  position: relative;
  width: 32px;
  height: 32px;
  filter: invert(100%);
}

.mobile-menu {
  display: none;
  width: 12rem;
  padding: 0;
  position: absolute;
  top: 2.625rem;
  right: 0;
  z-index: 1;
  ul {
    margin: 0;
    list-style-type: none;
    li {
      width: 100%;
      background-color: $background-color-fh;
      border: $mobile-menu-border;
      .m-row {
        display: flex;
        flex-direction: row;
        height: 2rem;
        padding-left: 0px;
        align-items: flex-start;
        .icon {
          width: 32px;
          height: 32px;
          align-items: center;
          justify-content: center;
          width: 1.5rem;
          filter: invert(100%);
        }
        a {
          display: flex;
          text-decoration: none;
          color: $font-color-fh;
          @include mobile-menu-font;
          margin-left: 0.5rem;
          height: 32px;
          text-align: left !important;
          align-items: center;
        }
      }
    }
  }
}

.nav-a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px; /* Change this value to adjust the height */
  text-align: center;
  text-decoration: none;
  color: $font-color-fh;
  &:hover {
    background-color: $hover-bg;
  }
}

@media (min-width: 768px) {
  nav {
    .mobile-nav {
      display: none;
    }
    .desktop-nav {
      display: flex;
    }
  }
}

@media (max-width: 768px) {
  nav {
    .mobile-nav {
      display: flex;
    }
    .desktop-nav {
      display: none;
    }
  }
}

footer {
  background-color: $background-color-fh;
  height: $footer-height;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  color: $font-color-fh;
}
